<footer class="footer">

    <div class="footer-left">

        <img class="d-inline-block align-top" src="img/icon.svg" style="width: 240px"
             alt="Dolce Vita">

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Reservieren</a>
            ·
            <a href="#">Kontakt</a>
            ·
            <a href="#">Über uns</a>
        </p>

        <p class="footer-company-name">Dolce Vita &copy; 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Ludwig-Ebner-Straße 6</span> Deggendorf, Deutschland</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+49 (0) 991 / 7413</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="info@pizzeria-dolcevita.de">info@pizzeria-dolcevita.de</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Über uns</span>
            Bereits seit über 40 Jahren ist die Pizzaria "Dolce Vita" ein fester Bestandteil der Deggendorfer Altstadt.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>

        </div>

    </div>

</footer>