<nav class="navbar navbar-expand-lg navbar-dark bg-faded">

    <a class="navbar-brand" href="../home.hbs"><img class="d-inline-block align-top" src="img/icon.svg" style="width: 240px"
                                          alt="Dolce Vita"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../home.hbs"> <b>Home </b> <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../reservieren.hbs" style="color: white; opacity: 80%"> <b> Reservieren </b> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../kontakt.hbs" style="color: white; opacity: 80%"> <b> Kontakt </b> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../ueberuns.hbs" style="color: white; opacity: 80%"> <b> Über uns </b> </a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit" style="font-size: 14pt"><b>Online
            bestellen </b></button>
    </form>
</nav>