<div id="justheader"> <p>Online Bestellung </p> </div>

		<div class="booking-form-box">
		
		<div class="booking-form">
		

		
		<label>Vorname:</label>
		<input type="text" class="form-control" placeholder="Vorname">
		<label>Nachname:</label>
		
		
		<label>E-Mail-Addresse:</label>
		<input type="text" class="form-control" placeholder="Enter your Email">
		
		<label>Addresse</label>
		<input type="text" class="form-control" placeholder="Addresse">
		<label>Postleitzahl</label>
		<input type="text" class="form-control" placeholder="Postleitzahl">
		<label>Stadt</label>
		<input type="text" class="form-control" placeholder="Stadt">
		<label>Email</label>
		<input type="text" class="form-control" placeholder="Email">
		
		<label>Telefonnummer</label>
		<input type="text" class="form-control" placeholder="Enter your number">
		<label>Besondere Wünsche/Anforderungen:</label>
		<textarea id="b-wuensche" class="form-control" rows="3" placeholder="Bestellnr. angeben und mit ';' trennen"></textarea>
		
		<label>Ich möchte meine Bestellung... </label> <br>
							<fieldset>
								<input type="radio" id="liefern" name="art" value="Liefern">
								<label for="liefern"> Liefern lassen</label> 
								<input type="radio" id="abholen" name="art" value="Abholen">
								<label for="abholen"> Selbst aholen</label>
							</fieldset>
		
		<div class="input-grp2">
		<br>
<a  href="../konfigurator.hbs"  class="btn btn btn-outline-light my-2 my-sm-0" type="submit" style="font-size: 14pt"><b>Schritt 2</b></a>

		</div>
		</div>
		</div>
		

		

					
