<div class="container"> 
		<br><br><br><br><br><br>
		<h2> Online bestellen </h2>
		<p> Gerne können Sie Ihre Speisen auch direkt online zur Abholung oder Liefern bestellen. <br> <br>
		<p> Wählen Sie eine Bestellmöglichkeit: <br><br>


		
		<a  href="../bestellenKarte.hbs"  class="btn btn btn-outline-light my-2 my-sm-0" type="submit" style="font-size: 14pt"><b>Von der Karte bestellen</b></a>
			<a  href="../bestellenPizza.hbs"  class="btn btn btn-outline-light my-2 my-sm-0" type="submit" style="font-size: 14pt"><b>Mit unserem Pizza-Konfigurator bestellen</b></a>
			<a  href="../karte.hbs"  class="btn btn btn-outline-light my-2 my-sm-0" type="submit" style="font-size: 14pt"><b>Unsere Speisekarte</b></a>
</div> 