

	    <div id="justheader"> <p>Reservierung </p> </div>
		<div class="booking-form-box">
		
		<div class="booking-form">
		<label>Vorname</label>
		<input type="text" class="form-control" placeholder="Vorname">
		<label>Nachname</label>
		<input type="text" class="form-control" placeholder="Nachnamename">
		<label>Telefonnummer</label>
		<input type="text" class="form-control" placeholder="Enter your number">
		<label>E-Mail-Addresse</label>
		<input type="text" class="form-control" placeholder="Enter your Email">
		<label>Anzahl Personen</label>
		<input type="number" class="form-control" placeholder="Enter number of persons">
		
		<div class="radio-btn">
		<input type="radio" class="btn" name="check"><span style="color:white">Smoking </span>
		<input type="radio" class="btn" name="check"><span style="color:white">Non-smoking</span>
		</div>
		
		<div class="input-grp">
		<label>Datum</label>
		<input type="date" class="form-control select-date">
		</div>
		<div class="input-grp">
		<label>Uhrzeit:</label>
        <input type="time" id="appt" name="appt">
		</div>
		
		<div class="input-grp2">
		<br>
		<button type="button" class="btn btn-primary "  data-toggle="modal" data-target="#exampleModal" style="font-size: 14pt">
  Reservieren</button>

		</div>
		</div>
		</div>
		
		<!-- Button trigger reservieren -->


<!-- reservieren -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ihre Reservierung wird bestätigt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        						<p> Vielen Dank für Ihre Reservierung! 
						<p> Bei Rückfragen setzen wir uns per E-Mail mit Ihnen in Verbindung.
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Cancel</button>
		 <a type="button" href="../home.hbs" class="btn btn-secondary">Save & Exit</button> </a>
		 
		 
      </div>
    </div>
  </div>
</div>
		

		




