
	<body>
	    <div id=reservieren-header> <p>Reservierung </p> </div>
		<h6>Reservierung </h6>
		<div class="booking-form-box">
		
		<div class="booking-form">
		<label>Vorname</label>
		<input type="text" class="form-control" placeholder="Vorname">
		<label>Nachname</label>
		<input type="text" class="form-control" placeholder="Nachnamename">
		<label>Telefonnummer</label>
		<input type="text" class="form-control" placeholder="Enter your number">
		<label>E-Mail-Addresse</label>
		<input type="text" class="form-control" placeholder="Enter your Email">
		<label>Anzahl Personen</label>
		<input type="number" class="form-control" placeholder="Enter number of persons">
		
		<div class="radio-btn">
		<input type="radio" class="btn" name="check"><span style="color:white">Smoking </span>
		<input type="radio" class="btn" name="check"><span style="color:white">Non-smoking</span>
		</div>
		
		<div class="input-grp">
		<label>Datum</label>
		<input type="date" class="form-control select-date">
		</div>
		<div class="input-grp">
		<label>Uhrzeit:</label>
        <input type="time" id="appt" name="appt">
		</div>
		
		<div class="input-grp">
		
		<button type="sumbit" class="btn btn btn-outline-light  my-2 my-sm-0 table" style="font-size: 14pt" >Reservieren</button>
		</div>
		</div>
		</div>
		</div> 

		




