body {
    background-image: url("../img/Pizza.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: cover;
}




#intro {
    color: white;
    /*
    padding: 10px 350px 10px 70px;
    */
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

#info {
    color: white;
    font-size: 18px;
    padding-top: 2em;

}

#schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

#clock {
    padding-right: 20px;
}

#takeout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;

}

#bag {
    padding-right: 20px;
}

#delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-top: 2em;

}

#truck {
    padding-right: 20px;
}


.btn {
    border-radius: 40px !important;
    border-width: 3px !important;
}

#btnkarte {
	
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 2em;

}


#kontakt-oeffnungzeiten {
	
    color: white;
    padding: 20px 10px 10px 60px;
    font-size: 1.5em;
	margin-top: 130px;
}

#kontakt-info {
	
    color: white;
  padding: 10px 10px 10px 100px;
    font-size: 1.5em;
	margin-top: 130px;
}


#uberuns-main {
	
    color: white;
  padding: 200px 200px 200px 200px;
    font-size: 1.5em;
	
}

#uberuns-imgslider {
	
  justify-content: center;


}



.myimg{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block; 
	padding-bottom:10px; 
}
.items{
	text-align: center;
}

#preise-karte-con {
background-image: url("../img/menuback.jpg");

background-repeat: no-repeat;
  background-size: 100% 100%;

	padding: 40px 40px 40px 100px;
	border: 2px solid #AE9A59;
  border-radius: 25px;
}



.container {

	color: white;
}









.nav-item {
    font-size: 14pt;
}


.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}



/* reservierung */



.booking-form label{
	margin-bottom:5px;
    margin-top:10px;
	font-size:20px;
	display:inline-block;
	color:#fff;
	
	

	 
	
}

.booking-form{
	
	padding: 0 20px 20px;
	
	
	
 
	
 
}


.input{
	
	
	width: 20%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:1px solid #ced4da;
  display:inline-block;
  font-size:100px;
}
	
	
	



.booking-form-box{
	
	max-width:500px;
	border:2px solid #ced4da;
	margin:10% auto 0;

	
}
.radio-btn{
	
	margin:0 2px;
	font-family:verdana;
	 font-weight: bold;
}

.radio-btn .btn{
	margin:20px  10px 20px 0;
	box-shadow:none;
	color:black;
}

input::placeholder{
	
}
.input-grp label{
	
	width :151px;
	
	
	
}
.input-grp{
	
	width :151px;
	display:inline-block;
}



.form-control{
	
	font-size:12px !important;
	border-radius:0!important;
	color:#fff!important;
	background :transparent!important;
	box-shadow:none!important;
}
.table{
	
	width:100px;
	height:50px;
	
	padding:200px 0;
	font-size:20px;
	color:red;
	font-family:verdana;
	
	border:1px solid #ced4da !important;
	background :transparent!important;
	box-shadow:none!important;
	position:relative;
	left:140px;
	top:10px;
   transition-duration: 0.2s;
  cursor: pointer;
	border-radius: 5 !important;
}

#justheader{
	
	 display:center;
	color:white;
	font-size:50px;
	 text-align:center;
	 margin:20px;
	 vertical-align: bottom;
	 vertical-align: bottom;
	 position:relative;
	 top:100px;
	 font-family:Helvetica;
	
	 
}



/* konfiguration pizza */

#konfig-pizza {
	width: 0;
	float: left;
	text-align: right;
	background-color: lightgrey;
	height: 0;
	font-weight: bold;
	margin-left: 450px;	
	margin-right: 500px;
	margin-top: 160px;
}
#konfig-zutaten {

	font-weight: bold;
	
}

#salami {
	position: absolute;
	float: right;
	z-index: 5;
	top: 250px;
	left: 350px;
}

#schinken {
	position: absolute;
	float: right;
	z-index: 5;
	top: 250px;
	left: 350px;
}

#champignons {
	position: absolute;
	float: right;
	z-index: 5;
	top: 200px;
	left: 350px;
}

#peperoni {
	position: absolute;
	float: right;
	z-index: 5;
	top: 250px;
	left: 300px;
}

#oliven {
	position: absolute;
	float: right;
	z-index: 5;
	top: 270px;
	left: 300px;
}

#ananas {
	position: absolute;
	float: right;
	z-index: 5;
	top: 280px;
	left: 180px;
}

#scharfesalami {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#thunfisch {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#zwiebeln {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#artischocken {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#rucola {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#gemuese {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#kirschtomaten {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#basilikum {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#scampi {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#hackfleisch {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}

#lachs {
	position: absolute;
	float: right;
	z-index: 5;
	top: 260px;
	left: 350px;
}


/* Footer left */

.footer .footer-left {
    width: 40%;
}

/* The company logo */

.footer h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer h3 span {
    color: #5383d3;
}

/* Footer links */

.footer .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer .footer-right {
    width: 20%;
}

.footer .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-icons {
    margin-top: 25px;
}

.footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer {
        font: bold 14px sans-serif;
    }

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer .footer-center i {
        margin-left: 0;
    }

}